form(class='well' action='/posts' method='post')
  h1 Create a post !
  br
  div(class='form-group')
    label Title
    input(type='text' class='form-control' name='title')
  div(class='form-group')
    label Content
    input(type='text' class='form-control' name='content')
  button(type='submit' class='btn btn-success btn-md') Post
