
<div class="col-sm-6">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul class="filter">
        <li><a class="dropdown-item" href="/api">Action</a></li>
        <li><a class="dropdown-item" href="/api">Another action</a></li>
        <li><a class="dropdown-item" href="/api">Something else here</a></li>
      </ul>
    </div>
  </div>
  <form action="/api/details" method="POST">
    <div class="form-group">
      <label>Address</label>
      <input class="form-control" type="text" name="address" placeholder="address" autofocus>
    </div>
    <div class="form-group">
      <label>Zip Code</label>
      <input class="form-control" type="text" name="zipcode" placeholder="zipcode">
    </div>
    <input class="btn btn-warning btn-md" type="submit" >
  </form>
</div>
