doctype html
html(lang='en')
	head
		include includes/head
	body
		header
			include includes/nav
		div(class='container')
			div(class='col-sm-6 col-sm-offset-3')
				h1
					span(class='fa fa-sign-in') Login
				if(messages)
					p= messages 
				br
				include includes/loginForm
				hr
				p Need an account?
					a(href='.signup') Signup
				p Or go
					a(href='/') Home
