<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<header>
    <% include partials/nav %>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <% posts.forEach(function(post){%>
          <div class="well">
            <h1><%= post.title %></h1>
            <h3>By: <%= post.user.email %></h3>
            <h4><%= post.posted.toLocaleDateString("en-US") %></h4>
            <p><%= post.content %></p>
          </div>
        <%});%>
    </div>
  </div>
</div>
</body>
</html>
