doctype html
html(lang='en')
	head
		include includes/head
	body
		header
			include includes/nav
	div(class='container')
		div(class='page-header text-center')
			h1
				span(class='fa fa-certificate') Profile Page
	div(class='row')
		div(class='col-lg-8 col-lg-offset-2')
			include includes/postForm
	br
	hr
	div(class='row')
		div(class='col-sm-6')
			div(class='well')
				h3
					span(class='fa fa-user') Local
				p
					strong id:
					p= user.id
					strong email:
					p= user.local.email
					strong password:
					p= user.local.password
		div(class='col-sm-6 post-box')
			include includes/userPosts
	
