doctype html
html(lang='en')
	head
		include includes/head
	body
		header
			include includes/nav
		div(class='container')
			div(class='well col-sm-6 col-sm-offset-3')
				h1
					span(class='fa fa-sign-in') Sign Up
				if(messages)
					p= messages 
				br
				include includes/signupForm
